#article {
    display: flex;

    gap: 1rem;
}

#article .article-infos h2 {
    font-size: 3.2rem;
    font-weight: bold;
    
    margin-bottom: 1.2rem;
}

#article .article-infos h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #8695A4;
    margin-bottom: 1.6rem;
}

#article .article-infos p {
    font-size: 1.6rem;
    font-weight: 400;
}